

#consulta{
    width: 170px;
    height: 50px;
    background-color: #3285C7;
    border: none;
    border-radius: 10px;
    font-family: Roboto;
    font-weight: 200;
    font-size: 17px;
    line-height: 23px;
    color: #FCFCFC;
  }

  #form-input{
    border-bottom:2px outset rgb(7, 148, 241);
  }